.page {
    display: flex;
    align-items: center;;
    /*
    padding: top right bottom left
    */
    padding: 70px 50px;
}
.image-side {
    flex:2;
    justify-content: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 370px;
    height: 550px;
    background-image: url('../images/about-book.svg');
    background-size: cover;
    background-position: center;
}

.text-side {
    flex:3;
    height: 550px;
}

.text-div h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
}
.colored-text {
    color: #34A38F; /* Substitua pelo código da cor desejada */
}

.text-div p {
    font-size: 25px;
    font-weight: bold;
    line-height: 2.5;
}


