.input-outside {
    width: 375px;
    height: 58px;
    border: 1px solid #CFD3D4;
    border-radius: 8px;
    padding: 4px 7px; /* top & bottom then left & right */
    margin-bottom: 15px;
}

.input-inside {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.input-inside label {
    font-size: 13px;
    color: #5E6366;
}
.input-inside input{
    height: 20px;
    width: 98%;
    font-size: 17px;
    outline: none;
    border: 0;
    color: #5E6366;
}
