.home {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Define a altura total da janela do navegador */
    background-image: url('../images/wave-haikei.svg');
    background-size: cover;
    background-position: center;
}

h1, h3 {
    cursor:default;
}

.top {
    flex: 0 0 auto; /* Não crescerá nem encolherá, tamanho automático */
    text-align: start;
    padding-left: 50px;
    padding-top: 28px;
}

.top h1 {
    color: #34A38F;
}

.colored-text {
  color: #34A38F; /* Substitua pelo código da cor desejada */
}

.rest {
    flex: 1; /* Crescerá para preencher o espaço restante */
    padding-top: 20vh;
}
/* Margem entre h1 e h3*/
.rest h1,
.rest h3 {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.rest h1 {
    font-size: 55px;
    font-weight: bold;
    color: #343435;
}

.rest h3 {
    font-size: 24px;
    font-weight: normal;
    color: #797979;
}

.enter-website {
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 4px;
    border: 0px;
    background-color: #34A38F;
    color: white;
    cursor: pointer;
    font-size: 15px;
}



  