.navbar {
    
    display: flex;
    padding: 20px 50px 0 50px;
    align-items: center;
}

.navbar h1 {
    font-size: 30px;
    color: #34A38F;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-self: center;
    margin: 1em auto;
    width: 317px;
    height: 45px;
    flex: 1;
}

.search-content {
    border-radius: 4px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    flex: start; /* Centraliza horizontalmente */
    border: 1px solid #DADADA;
    width: 350px;
    height: 45px;
    background-color: #F5F5F5;
}
.search-content input {
    height: 20px;
    width: 250px;
    font-size: 17px;
    outline: none;
    border: 0;
    background-color: #F5F5F5;
    margin-left: 20px;
    color: #737373;
}
.search-icon {
    margin-left: 25px;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/search-icon.svg');
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 30px;
    text-decoration: none;
    padding: 6px;
    font-size: 17px;
    font-weight: bold;
    color: #34A38F;
}

.navbar a:last-child {
    font-weight: normal;
    font-size: 17px;
    border-radius: 4px;
    background-color: #34A38F;
    color: white;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 17px;
}
